body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Arial,Helvetica,freesans,sans-serif;
	vertical-align: baseline;
	-webkit-user-select: none;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
input{
	border: 0px;
}
a{
	text-decoration: none;
}
.wrap{
	margin-left: auto;
	margin-right: auto;	
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}
.wd175{
	width: 175px;
}
.wd1280{
	width: 1280px;
}